@import "@fontsource/zen-kaku-gothic-new";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  min-height: 100vh;
  background: #111;
  color: #fff;
  --sait: var(--discord-safe-area-inset-top, env(safe-area-inset-top));
  --saib: var(--discord-safe-area-inset-bottom, env(safe-area-inset-bottom));
  --sail: var(--discord-safe-area-inset-left, env(safe-area-inset-left));
  --sair: var(--discord-safe-area-inset-right, env(safe-area-inset-right));
  overflow: hidden;
  accent-color: theme("colors.cyan.500");
}

#app {
  min-height: 100vh;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// ミニプレイヤー
@media (max-height: 240px) {
  .hidden-on-miniplayer {
    display: none !important;
  }
}
