@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  @apply bg-gray-900;
  min-height: 100vh;
}

a {
  @apply cursor-pointer;
  &:hover {
    @apply underline;
  }
}
